/* import font family */
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

/* generaly */
:root {
  --left-bg-color: rgb(236, 164, 54, 0.7);
  --right-bg-color: rgb(43, 43, 43, 0.7);
  --left-btn-hover-color: rgb(236, 164, 54);
  --right-btn-hover-color: rgba(43, 43, 43);

  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

* {
  box-sizing: border-box;
}
body {
  color: white;
  background: linear-gradient(lightblue, #00008b);
  height: 100vh;
  font-family: "Mulish", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 40px;
  border-radius: 5px;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  cursor: pointer;
  display: inline-block;
  width: 100%;
  background: lightblue;
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px 0;
  width: 300px;
}

.form-control input {
  background: transparent;
  border: 0;
  display: block;
  border-bottom: 2px solid #fff;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

/*apres séparation sur js*/

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-30px);
}
